:root {
  --font-sans: sans-serif;
  --color-black: #1b1b1e;
  --color-white: #f3f3f4;
  --color-ash: #7e7f83;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-sans);
  font-size: 16px;
  background-color: var(--color-black);
  color: var(--color-white);
}

main {
  max-width: 85dvw;
  margin-inline: auto;
}

.btn {
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: var(--color-white);
  color: var(--color-black);
  width: fit-content;
  transition: all 0.2s ease-in-out;

  &:hover {
    filter: brightness(0.7);
  }
}

.note-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  align-items: start; 
}

